<div class="bordered_wrapper">

  <div class="header_wrapper">
    <div class="main_header">

      <% if !@staticpage.nil? %>
        <%= @staticpage.page_title %>
      <% else %>
        <% if !params[:type].nil? && params[:type] == "lifeguard" %>
          Lifeguards
        <% else %>
          Board
        <% end %>
      <% end %>
    </div>
    <% if is_admin? %>
      <div class="pull-right">
        <%= link_to "New #{params[:type].nil? ? Person : params[:type].titleize}", new_person_path(:type => "#{params[:type]}"), :class => "btn btn-small btn-success" %>



        <% if @staticpage.nil? %>
          <% if !params[:type].nil? && params[:type] == "lifeguard" %>
            <%= link_to "Edit Page", new_staticpage_path(:page_name => "PeopleLifeguard", :page_url => "people?type=lifeguard"), :class => "btn btn-small btn-success" %>
          <% else %>
            <%= link_to "Edit Page", new_staticpage_path(:page_name => "PeopleBoard", :page_url => "people?type=board"), :class => "btn btn-small btn-success" %>
          <% end %> 
        <% else %>
          <%= link_to "Edit Page", edit_staticpage_path(@staticpage), :class => "btn btn-small btn-success" %>
        <% end %>

      </div>
    <% end %>
  </div>

  
  <% if !@staticpage.nil? %>
    <div style="margin:15px 0;">
      <%= simple_format(@staticpage.page_body) %>
    </div>
  <% end %>

  <% @people.each do |person| %>
    <div class="person_wrapper">
      <div class="person_left_column">
        <div>
          <%= image_tag person.avatar.url(:small), :class => "bordered_image" %>
        </div>
        <% if is_admin? %>
          <div class="button_wrapper">
            <%= link_to 'Edit', edit_person_path(person, :type => "#{params[:type]}"), :class => "btn btn-small btn-warning" %> &nbsp;&nbsp; <%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' }, type: "#{params[:type]}", :class => "btn btn-small btn-danger" %>
          </div>
        <% end %>
      </div>

      <div class="person_right_column">
        <div class="large_header_text">
          <%= person.name %>
        </div>
        <div class="main_text">
          <%= simple_format(person.description) %>
        </div>
      </div>
    </div>

    <% if @people.last.id != person.id %>
      <div class="divider_div">
      </div>

    <% end %>

  <% end %>

</div>




