<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :class => 'input-block-level', :placeholder => "Email" %>
  </div>
  <div class="field">
    <%= f.text_field :fname, :class => 'input-block-level', :placeholder => "First Name" %>
  </div>
  <div class="field">
    <%= f.text_field :lname, :class => 'input-block-level', :placeholder => "Last Name" %>
  </div>
  <div class="field">
    <%= f.text_field :phone_number, :class => 'input-block-level', :placeholder => 'Phone Number' %>
  </div>
  <div class="field">
    <%= f.text_field :address, :class => 'input-block-level', :placeholder => 'Address' %>
  </div>
  <div class="field">
    <%= f.text_field :city, :class => 'input-block-level', :placeholder => 'City' %>
  </div>
  <div class="field">
    <%= f.text_field :state, :class => 'input-block-level', :placeholder => 'State' %>
  </div>
  <div class="field">
    <%= f.text_field :zip_code, :class => 'input-block-level', :placeholder => 'Zip Code' %>
  </div>
  <div class="field">
    <%= f.password_field :password, :class => 'input-block-level', :placeholder => 'Password' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :class => 'input-block-level', :placeholder => 'Password Confirmation' %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign Up', :class => 'btn btn-main' %>
  </div>
<% end %>



