<div class="bordered_wrapper" style="border:none;">

  <div class="header_wrapper">
    <div class="main_header">
      <% if !@staticpage.nil? %>
        <%= @staticpage.page_title %>
      <% else %>
        Membership
      <% end %>
    </div>

    <div class="pull-right">
      <% if is_admin? %>
        <% if @staticpage.nil? %>
          <%= link_to "Edit Page", new_staticpage_path(:page_name => "Membership", :page_url => "membership"), :class => "btn btn-small btn-success" %>
        <% else %>
          <%= link_to "Edit Page", edit_staticpage_path(@staticpage), :class => "btn btn-small btn-success" %>
          <%= link_to 'Remove Custom Page', @staticpage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
        <% end %>
      <% end %>
      <% if !current_user %>
        <%= link_to "Sign Up Now", sign_up_path(), :class => 'sign_up_tally btn btn-small btn-main' %>
      <% end %>
    </div>
  </div>

  <% if !@staticpage.nil? %>
    <% if @staticpage.static_page_photo? %>
      <div style="margin:15px 0; text-align:center;">
        <%= image_tag @staticpage.static_page_photo.url(:medium), :class => "bordered_image" %>
      </div>
    <% end %>
    <div>
      <%= simple_format(@staticpage.page_body) %>
    </div>
  <% end %>

</div>
