<div class="bordered_wrapper">

  <div class="header_wrapper">
    <div class="main_header">
      <% if !@staticpage.nil? %>
        <%= @staticpage.page_title %>
      <% else %>
        Membership
      <% end %>
    </div>
    <% if is_admin? %>
      <div class="pull-right">
        <% if @staticpage.nil? %>
          <%= link_to "Edit Page", new_staticpage_path(:page_name => "Membership", :page_url => "membership"), :class => "btn btn-small btn-success" %>
        <% else %>
          <%= link_to "Edit Page", edit_staticpage_path(@staticpage), :class => "btn btn-small btn-success" %>
          <%= link_to 'Remove Custom Page', @staticpage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if !@staticpage.nil? %>
    <div style="margin:15px 0;">
      <%= image_tag @staticpage.static_page_photo.url(:small), :class => "bordered_image static_page_photo" if @staticpage.static_page_photo? %>
      <%= simple_format(@staticpage.page_body) %>
    </div>
  <% end %>

  <% if !current_user %>
    <div style="text-align:center; margin-top:10px;">
      <%= link_to "Sign Up Now", sign_up_path(), :class => 'sign_up_tally btn btn-large btn-main' %>
    </div>
  <% end %>


</div>
