
<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :stripe_id %>
  <%= f.hidden_field :amount %>
  <%= f.hidden_field :user_description %>

  <table class="table table-condensed">
    <!-- Membership Payments -->
    <% if !@membership_payment.empty? %>
      <tr>
        <th class="sub_header" colspan=3>Membership Payments</th>
      </tr>
      <% @membership_payment.each do |mp| %>
        <tr>
          <td><%= mp.name %></td>
          <td><%= number_to_currency(mp.cost) %></td>
          <td style="text-align:center;"><%= link_to 'Remove', new_payment_path(:model_id => mp.id, :model_name => mp.class.name), :class => "btn btn-small btn-warning" %></td>
        </tr>
      <% end %>
    <% end %>
    <!-- END Membership Payments -->

    <!-- Swim Teams -->
    <% if !@swim_team.empty? %>
      <tr>
        <th class="sub_header" colspan=3>Swim Teams</th>
      </tr>
      <% @swim_team.each do |st| %>
        <tr>
          <td><%= st.name %></td>
          <td><%= number_to_currency(st.price_per_participant) %></td>
          <td style="text-align:center;"><%= link_to 'Remove', new_payment_path(:model_id => st.id, :model_name => st.class.name), :class => "btn btn-small btn-warning" %></td>
        </tr>
      <% end %>
    <% end %>
    <!-- END Swim Teams -->

    <!-- Swim Lessons -->
    <% if !@swim_lesson.empty? %>
      <tr>
        <th class="sub_header" colspan=3>Swim Lessons</th>
      </tr>
      <% @swim_lesson.each do |st| %>
        <tr>
          <td><%= st.name %></td>
          <td><%= number_to_currency(st.price_per_participant) %></td>
          <td style="text-align:center;"><%= link_to 'Remove', new_payment_path(:model_id => st.id, :model_name => st.class.name), :class => "btn btn-small btn-warning" %></td>
        </tr>
      <% end %>
    <% end %>
    <!-- END Swim Lessons -->

    <tr>
      <td style="text-align:right; font-weight:bold;">Total:</td>
      <td><%= number_to_currency(@payment.amount) %></td>
      <td style="text-align:center;"><%= link_to 'Remove All', new_payment_path(:clear_all => "clear_all"), :class => "btn btn-small btn-warning" %></td>
    </tr>
  </table>

  <div>
    <div class="field">
      <%= label_tag :name, "Cardholder Name" %>
      <%= text_field_tag :name, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_number, "Credit Card Number" %>
      <%= text_field_tag :card_number, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_code, "Security Code on Card (CVV)" %>
      <%= text_field_tag :card_code, nil, name: nil %>
    </div>
    <div class="field">
      <%= label_tag :card_month, "Card Expiration" %>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
    </div>
    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

    <div class="actions">
      <%= f.submit 'Make Payment', :class => 'btn btn-main' %>
    </div>
  </div>
<% end %>


<script type="text/javascript">

$(document).ready(function(){
});


var subscription;

jQuery(function() {
  Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
  return subscription.setupForm();
});

subscription = {
  setupForm: function() {
    return $('#new_payment').submit(function() {
      $('input[type=submit]').attr('disabled', true);
      if ($('#card_number').length) {
        subscription.processCard();
        return false;
      } else {
        return true;
      }
    });
  },
  processCard: function() {
    var card;
    card = {
      number: $('#card_number').val(),
      cvc: $('#card_code').val(),
      expMonth: $('#card_month').val(),
      expYear: $('#card_year').val()
    };
    return Stripe.createToken(card, $("#amount_to_pay").val(), subscription.handleStripeResponse);
  },
  handleStripeResponse: function(status, response) {
    if (status === 200) {
      $('#payment_stripe_id').val(response.id);
      return $('#new_payment')[0].submit();
    } else {
      $('#stripe_error').text(response.error.message);
      return $('input[type=submit]').attr('disabled', false);
    }
  }
};

</script>


