<div class="bordered_wrapper">
  <div class="header_wrapper">
    <div class="main_header">
      Payment History
    </div>
    <div class="pull-right">
      <%= link_to "Make a payment", new_payment_path(), :class => "btn btn-small btn-success" %>
    </div>
  </div>




<table class="table table-condensed">
  <tr>
    <th>Date Paid</th>
    <th>Amount</th>
    <th>Description</th>
    <th>Confirmation Number</th>
    <th>User</th>
  </tr>

  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%Y-%m-%d") %></td>
      <td><%= number_to_currency(payment.amount) %></td>
      <td><%= payment.user_description %></td>
      <td><%= payment.stripe_id %></td>
      <td><%= link_to payment.user.full_name, user_path(payment.user) %></td>
    </tr>
  <% end %>

</table>

</div>