

<div class="bordered_wrapper">

  <div class="header_wrapper">
    <div class="main_header">
      <% if !@staticpage.nil? %>
        <%= @staticpage.page_title %>
      <% else %>
        Swim Lessons
      <% end %>
    </div>
    <% if is_admin? %>
      <div class="pull-right">
        <%= link_to "New Swim Lesson", new_swim_lesson_path(), :class => "btn btn-small btn-success" %>

        <% if @staticpage.nil? %>
          <%= link_to "Edit Page", new_staticpage_path(:page_name => "SwimLesson", :page_url => "swim_lessons"), :class => "btn btn-small btn-success" %>
        <% else %>
          <%= link_to "Edit Page", edit_staticpage_path(@staticpage), :class => "btn btn-small btn-success" %>
          <%= link_to 'Remove Custom Page', @staticpage, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-small btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if !@staticpage.nil? %>
    <div style="margin:15px 0;">
      <%= image_tag @staticpage.static_page_photo.url(:small), :class => "bordered_image static_page_photo" if @staticpage.static_page_photo? %>
      <%= simple_format(@staticpage.page_body) %>
    </div>
  <% end %>

  <div class="person_wrapper">
    <% if @swim_lessons.count > 0 %>
      <% @swim_lessons.each do |swim_lesson| 

          inactive_css = ""

          if !swim_lesson.active? || swim_lesson.start_date < Date.today
            inactive_css = "border:1px solid red;"
          end

          %>
        <div style="<%= inactive_css %> margin-bottom:20px;">
          <div class="person_left_column">
            <div>
              <%= image_tag swim_lesson.photo.url(:small), :class => "bordered_image" %>
            </div>
            <div class="button_wrapper">
              <% if current_user %>
                <input class="register_for_class" id="<%= swim_lesson.id.to_s + ',' + swim_lesson.class.name %>" type="checkbox" /> Add class to cart
              <% else %>
                <%= link_to 'Add class to cart', log_in_path(), :class => "btn btn-small btn-success" %>
              <% end %>
            </div>
            <% if is_admin? %>
              <div class="button_wrapper">
                <%= link_to 'Edit', edit_swim_lesson_path(swim_lesson), :class => "btn btn-small btn-warning" %> &nbsp;&nbsp; <%= link_to 'Delete', swim_lesson, method: :delete, data: { confirm: 'Are you sure?' }, type: "#{params[:type]}", :class => "btn btn-small btn-danger" %>
              </div>
            <% end %>
            <% if !swim_lesson.active %>
              <div style="color:red; font-weight:bold; text-align:center;">
                INACTIVE
              </div>
            <% end %>

            <% if swim_lesson.start_date < Date.today %>
              <div style="color:red; font-weight:bold; text-align:center;">
                Swim Lesson Started
              </div>
            <% end %>
          </div>


          <div class="person_right_column">
            <table class="table table-condensed swim_team_table" style="width:100%;">
              <tr>
                <th style="text-align:left;">Name</th>
                <th>Dates</th>
                <th>Days</th>
                <th>Time</th>
                <th>Age</th>
                <th>Price</th>
              </tr>
              <tr>
                <td class="span4" style="text-align:left;"><%= swim_lesson.name %></td>
                <td class="span2"><%= swim_lesson.start_date.strftime("%m/%d") %> - <%= swim_lesson.end_date.strftime("%m/%d") %></td>
                <td class="span1">
                  <% if swim_lesson.mon? %>Monday<% end %>
                  <% if swim_lesson.tues? %>Tuesday<% end %>
                  <% if swim_lesson.wed? %>Wednesday<% end %>
                  <% if swim_lesson.thurs? %>Thursday<% end %>
                  <% if swim_lesson.fri? %>Friday<% end %>
                  <% if swim_lesson.sat? %>Saturday<% end %>
                  <% if swim_lesson.sun? %>Sunday<% end %>
                </td>
                <td class="span3"><%= swim_lesson.start_time.strftime("%I:%M %p") %> - <%= swim_lesson.end_time.strftime("%I:%M %p")  %></td>
                <td class="span1"><%= swim_lesson.start_age %> - <%= swim_lesson.end_age %></td>
                <td class="span1"><%= number_to_currency(swim_lesson.price_per_participant) %></td>
              </tr>
              <tr>
                <td colspan="6" style="text-align:left;"><%= simple_format(swim_lesson.description) %></td>
              </tr>

            </table>
          </div>

          <% if is_admin? %>
            <div>
              <div class="person_wrapper" style="margin:0 20px 0 20px;">
                <% if swim_lesson.users.length > 0 %>
                  <h5>Users signed up for this Swim Lesson:</h5>
                  <div style="padding-left:20px;">
                    <table class="table table-condensed">
                      <tr>
                        <th>Email</th>
                        <th>Fname</th>
                        <th>Lname</th>
                        <th>Phone number</th>
                      </tr>

                      <% swim_lesson.users.each do |user| %>
                        <tr>
                          <td><%= user.email %></td>
                          <td><%= user.fname %></td>
                          <td><%= user.lname %></td>
                          <td><%= user.phone_number %></td>
                        </tr>
                      <% end %>

                    </table>
                  </div>
                <% else %>
                  <h5>No users signed up for this Swim Lesson</h5>
                <% end %>
              </div>
            </div>
          <% end %>


        </div>
      <% end %>

      <div class="pull-right">
        <% if current_user %>
          <%= link_to 'CheckOut', new_payment_path(), :class => "btn btn-small btn-success" %>
        <% end %>
      </div>
    <% else %>
      <div style="margin-bottom:10px;">
        No Active Swim Lessons
      </div>
    <% end %>


  </div>


</div>





















