<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @swim_lesson.name %>
</p>

<p>
  <b>Description:</b>
  <%= @swim_lesson.description %>
</p>

<p>
  <b>Start age:</b>
  <%= @swim_lesson.start_age %>
</p>

<p>
  <b>End age:</b>
  <%= @swim_lesson.end_age %>
</p>

<p>
  <b>Start date:</b>
  <%= @swim_lesson.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @swim_lesson.end_date %>
</p>

<p>
  <b>Num allowed participants:</b>
  <%= @swim_lesson.num_allowed_participants %>
</p>

<p>
  <b>Price per participant:</b>
  <%= @swim_lesson.price_per_participant %>
</p>

<p>
  <b>Active:</b>
  <%= @swim_lesson.active %>
</p>

<p>
  <b>Start time:</b>
  <%= @swim_lesson.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @swim_lesson.end_time %>
</p>

<p>
  <b>Mon:</b>
  <%= @swim_lesson.mon %>
</p>

<p>
  <b>Tues:</b>
  <%= @swim_lesson.tues %>
</p>

<p>
  <b>Wed:</b>
  <%= @swim_lesson.wed %>
</p>

<p>
  <b>Thurs:</b>
  <%= @swim_lesson.thurs %>
</p>

<p>
  <b>Fri:</b>
  <%= @swim_lesson.fri %>
</p>

<p>
  <b>Sat:</b>
  <%= @swim_lesson.sat %>
</p>

<p>
  <b>Sun:</b>
  <%= @swim_lesson.sun %>
</p>


<%= link_to 'Edit', edit_swim_lesson_path(@swim_lesson) %> |
<%= link_to 'Back', swim_lessons_path %>
