<!DOCTYPE html>
<html>
<head>
  <title>Del Prado Cabana Club</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2677869-28', 'benerino.com');
    ga('send', 'pageview');

  </script>

</head>
<body>

      <div class="navbar navbar-inner navbar-straightCorners main_margin">
        <div class="container">
          <%= link_to 'Del Prado Cabana Club', root_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="<%= 'active' if params[:controller] == 'people' && params[:type] == 'lifeguard' %>"><%= link_to 'Lifeguards', people_path(:type => "lifeguard") %></li>
              <li class="<%= 'active' if params[:controller] == 'people' && params[:type] == 'board' %>"><%= link_to 'Board', people_path(:type => "board") %></li>
              <li class="<%= 'active' if params[:controller] == 'meetings' %>"><%= link_to 'Meeting Notes', meetings_path() %></li>

              <li class=""><%= link_to 'Swim Team', swim_teams_path() %></li>
              <li class=""><%= link_to 'Swim Lessons', "#", :class => "not_created_yet" %></li>
              <% if current_user %>
                <li class=""><%= link_to 'Membership', user_path(current_user) %></li>
              <% else %>
                <li class=""><%= link_to 'Membership', sign_up_path() %></li>
              <% end %>

              <li class=""><%= link_to 'Calendar', "#", :class => "not_created_yet" %></li>
              <li class=""><%= link_to 'Parties', "#", :class => "not_created_yet" %></li>
              <% if is_admin? %>
                <li class="<%= 'active' if params[:controller] == 'users' && params[:action] == 'admin' %>"><%= link_to 'Admin', admin_path() %></li>
              <% end %>
              
            </ul>
            <% if current_user %>
            <ul class="nav pull-right">
              <li><%= link_to "Logged in as " + current_user.email + ".", user_path(current_user) %></li>
              <%= link_to "Log out", log_out_path, :class => 'btn btn-main' %>
            </ul>
            <% else %>
              <%= form_tag sessions_path, :class => 'pull-right navbar-form' do %>
                <%= text_field_tag :email, params[:email], :class => 'span2', :placeholder => "Email" %>
                <%= password_field_tag :password, '', :class => 'span2', :placeholder => 'Password' %>
                <%= submit_tag "Log in", :class => 'btn btn-main' %>
              <% end %>
            <% end %>

          </div><!--/.nav-collapse -->
        </div>
      </div>

  <% flash.each do |name, msg| %>
    <div class="row container flash_container main_margin">
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>

<div class="main_margin container">
  <%= yield %>
</div>

<div class="main_margin container footer">
    &#169; Del Prado Cabana Club <%= Time.now.year %> &nbsp;&nbsp; | &nbsp;&nbsp; <%= link_to 'About', about_path %> &nbsp;&nbsp; | &nbsp;&nbsp; <%= link_to 'Contact', new_contact_path %>
</div>

</body>
</html>